/* Estilos padrão */
.caixa {
    width: 230px;
    padding: 10px;
    border: 1px solid #ffffff;
    margin: auto;
    margin-top: 80px;
    background-color: #ffffff;
    text-align: center;
}

#img {
    width: 100%; /* A imagem ocupa 100% da largura da caixa */
    max-width: 230px; /* Define a largura máxima para a imagem */
    height: auto; /* Mantém a proporção da imagem */
}

p {
    font-size: 15px;
}

/* Estilos para telas menores, por exemplo, 320px */
@media (max-width: 320px) {
    .caixa {
        width: 100%; /* A caixa ocupa 100% da largura disponível */
        margin-top: 20px; /* Reduz a margem superior */
    }
}

/* Estilos para telas maiores, por exemplo, 768px */
@media (min-width: 768px) {
    .caixa {
        width: 50%; /* A caixa ocupa 50% da largura disponível */
        margin-top: 80px; /* Restaura a margem superior original */
    }
}

/* Estilos para telas muito grandes, por exemplo, 1200px */
@media (min-width: 1200px) {
    .caixa {
        width: 30%; /* A caixa ocupa 30% da largura disponível */
    }
}